version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: meeting_frontend
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      VITE_API_BASE_URL: "http://api" 
